#How {
  background-image: url("../Images/SmoothEvents/SmoothEvents1.png");
}

#API {
  background-image: url("../Images/SmoothEvents/SmoothEvents2.png");
}

#What {
  background-image: url("../Images/SmoothEvents/SmoothEvents3.png");
}
