#VR {
  background-image: url("../Images/Vrees/Jeffrey-MuseBig.jpg");
}

#Intro {
  background-image: url("../Images/Vrees/MuseInstructies1.jpg");
}

#Watervrees {
  background-image: url("../Images/Vrees/Zwembad3.jpg");
}