#playStore {
  background-image: url("../Images/ARSeaWars/ARSeaWarsCover.jpg");
}

#AugmentedReality {
  background-image: url("../Images/ARSeaWars/ARSeaWarsAR.jpg");
}

#Multiplayer {
  background-image: url("../Images/ARSeaWars/ARSeaWarsMultiplayer.jpeg");
}
