#playStore{
    background-image: url("../Images/ARSeaWarsCover.jpg");
}

#AugmentedReality{
    background-image: url("../Images/ARSeaWarsAR.jpg");
}

#Multiplayer{
    background-image: url("../Images/ARSeaWarsMultiplayer.jpeg");
}