html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

h1 {
  font-size: 55px;
  line-height: 60px;
  color: #d56724;
  font-family: "Bree Serif", serif;
}

body {
  font-size: 16px;
  line-height: 22px;
  height: auto;
  color: #373648;
  background-color: #eeefe5;
}

#banner {
  height: 600px;
  background-image: url("../Images/Home/Repeating.png");
  background-position: center;
  background-repeat: repeat;
}

.no-select {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#banner ul {
  list-style-type: none;
}

#banner li {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  padding-bottom: 0.5px;
  color: white;
  cursor: pointer;
  font-family: "Kosugi Maru", sans-serif;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #ebebeb;
  height: 1px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before,
.hvr-underline-from-center:focus:before,
.hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

#banner h1 {
  text-align: center;
  padding-top: 250px;
  color: white;
  font-family: "Kosugi Maru", sans-serif;
}

#intro {
  width: 100%;
  background-color: #dedecd;
  padding: 80px 0px 107px 0px;
  border-top: 1px solid #f4f5ee;
}

#introText {
  background-color: #dedecd;
  width: 94%;
  max-width: 900px;
  margin: 0px auto;
  font-size: 1.75em;
  color: #666666;
  text-align: center;
  font-weight: 300;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
}

.skillWrapper {
  width: 94%;
  max-width: 1170px;
  margin: 0px auto;
}

.skillBox {
  width: 20.6%;
  float: left;
  margin-right: 5.86%;
  text-align: center;
  font-size: 0.938em;
  color: #555555;
  margin-top: -45px;
  line-height: 25px;
}

.skillBoxLast {
  width: 20.6%;
  float: left;
  text-align: center;
  font-size: 15px;
  color: #555555;
  margin-top: -45px;
  line-height: 25px;
}

.skillsCircle {
  background-color: #eeefe5;
  width: 112px;
  height: 112px;
  text-align: center;
  padding-top: 16px;
  margin: 0px auto;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  -khtml-border-radius: 56px;
}

.Csharp {
  height: 80px;
  widows: 80px;
}

.skillTitle {
  font-family: abel, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.skillDivide {
  margin: 30px auto 30px auto;
  width: 50px;
  border-bottom: 1px solid red;
}

.aboutWrapper {
  width: 100%;
  height: 440px;
  background-position: center center;
  background-color: white;
}

#aboutImage {
  background-color: white;
  float: left;
  width: 50%;
  height: 100%;
  text-align: right;
}

#aboutImg {
  height: 100%;
  width: 100%;
  max-width: 960px;
  float: right;
  background-image: url("../Images/Home/FotoWebsite.jpg");
  background-size: 960px, 440px;
  background-position: center;
}

#aboutText {
  float: left;
  width: 50%;
  padding: 50px 7% 30px 7%;
  font-size: 1.2em;
  line-height: 23px;
  text-align: left;
  color: #888888;
}

#aboutText p {
  margin-top: 10px;
}

.bigSpace {
  height: 100px;
  width: 100%;
  clear: both;
}

#cvWrapper {
  height: 50px;
  width: 100%;
  position: relative;
  background-color: white;
}

.cvBackground {
  height: 50px;
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: #eeefe5;
}

.cvCircle {
  position: relative;
  background-color: #eeefe5;
  width: 112px;
  height: 112px;
  text-align: center;
  margin: -35px auto;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  -khtml-border-radius: 56px;
}

.cvCircle img {
  max-width: 82px;
  margin-top: 10px;
}

.ProjectPage {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.project {
  height: 300px;
}

.project img {
  display: table;
  margin: 50px auto;
  height: 160px;
  width: 160px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background: rgba(0, 0, 0, 0.5);
}

.row a:hover .overlay {
  opacity: 1;
}

.text {
  font-family: "Bree Serif", serif;
  color: white;
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 40px;
}

#Project1 {
  background-color: #e1e4b3;
  background-image: url("../Images/ARSeaWars/ARSeaWars.jpg");
  background-size: cover;
}

#Project1 .overlay {
  /* rgba(225, 228, 179, 0.5) */
  background-color: #e1e4b3;
}

#Project2 {
  background-image: url("../Images/SmoothEvents/SmoothEvents1.png");
  background-size: contain;
  background-position: center;
  background-color: #bdcbb6;
  background-repeat: no-repeat;
}

#Project2 .overlay {
  /* rgba(189, 203, 182, 1) */
  background-color: #bdcbb6;
}

#Project3 {
  background-color: #e1e4b3;
  background-image: url("../Images/Vrees/Jeffrey-Muse.jpg");
  background-size: cover;
  background-position: center;
}

#Project3 .overlay {
  background-color: #d76713;
}

#Project3 .overlay {
  background: rgba(215, 103, 19, 0.5);
}


#Project4 {
  background-color: #813107;
}

#Project5 {
  background-color: #813107;
}

#Project6 {
  background-color: #778472;
}

#Project7 {
  background-color: #e1e4b3;
}

#Project8 {
  background-color: #bdcbb6;
}

.container-fluid {
  height: 600px;
  margin-top: 35px;
}

.grow:hover {
  height: 200px;
  width: 200px;
  -webkit-transition: width 2s, height 2s;
  transition: width 2s, height 2s;
}

/*#region Footer*/
footer {
  width: 100%;
  background-color: #dedecd;
  border-top: 1px solid #f4f5ee;
  height: 250px;
  padding-top: 20px;
  text-align: right;
}

.smallSpace {
  height: 25px;
  width: 100%;
  clear: both;
  background-color: #eeefe5;
}

.center-div {
  margin: 0 auto;
  width: 550px;
  color: #888888;
  font-family: abel, sans-serif;
  font-size: 1.25em;
}

.center-div ul {
  list-style-type: none;
  color: #888888;
  font-family: abel, sans-serif;
  font-size: 1em;
  line-height: 30px;
  text-align: center;
  width: 100%;
}

.center-div ul h2 {
  font-size: 1.6666666666666666em;
  line-height: 60px;
  color: #d56724;
  font-family: "Bree Serif", serif;
}

.iconBox {
  width: 56px;
  height: 56px;
  float: left;
  margin-left: 40%;
  text-align: center;
  font-size: 0.938em;
  color: #555555;
  margin-top: -45px;
  line-height: 25px;
}

.iconBoxlast {
  width: 56px;
  height: 56px;
  float: left;
  text-align: center;
  font-size: 0.938em;
  color: #555555;
  margin-top: -45px;
  line-height: 25px;
  padding-left: 10px;
}

.iconCircle {
  border: 2px solid #d56724;
  color: #d56724;
  width: 56px;
  height: 56px;
  text-align: center;
  padding-top: 16px;
  margin-top: 50px;
  -moz-border-radius: 56px;
  -webkit-border-radius: 56px;
  border-radius: 56px;
  -khtml-border-radius: 56px;
  text-align: center;
}

.iconCircle i {
  margin-top: -40px;
  font-size: 1em;
}

.iconCircle:hover {
  background-color: #d56724;
  color: white;
}

/*#endregion Footer*/
@media screen and (max-width: 400px) {
  .aboutWrapper {
    overflow-y: overlay;
    padding-bottom: 40px;
  }

  .aboutWrapper h1 {
    font-size: 30px;
  }

  footer {
    overflow: overlay;
  }
}

@media screen and (max-width: 550px) {
  .center-div {
    width: 100%;
  }

  .iconBox {
    margin-left: calc((100% - 112px) / 2);
  }
}

@media screen and (max-width: 767px) {
  .Six {
    display: none;
  }
}

@media screen and (max-width: 770px) {
  #aboutImage {
    display: none;
  }

  #aboutText {
    float: left;
    width: 100%;
    padding: 30px 7% 0px 7%;
    font-size: 0.938em;
    line-height: 23px;
    text-align: left;
    color: #888888;
  }

  .cvCircle img {
    max-width: 82px;
    padding-top: 25px;
    margin-top: -10px;
  }

  .skillWrapper {
    width: 94%;
    max-width: 1200px;
    margin: 20px auto 0px auto;
  }

  .skillBox {
    width: 94%;
    float: none;
    margin-right: 3%;
    margin-left: 3%;
    text-align: left;
    font-size: 0.95em;
    margin-top: 30px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .skillBoxLast {
    width: 94%;
    float: none;
    margin-right: 3%;
    margin-left: 3%;
    text-align: left;
    font-size: 0.95em;
    margin-top: 30px;
    line-height: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .SkillBoxText {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: inherit;
  }

  .skillTitle {
    font-family: abel, sans-serif;
    font-size: 1.125em;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 6px;
  }

  .skillDivide {
    display: none;
  }

  .skillsCircle {
    display: none;
  }

  .Csharp {
    background-size: 67px 66px;
    background-repeat: no-repeat;
    background-position: top left;
    padding-left: 85px;
  }

  .bigSpace {
    height: 20px;
    width: 100%;
    clear: both;
  }

  .container-fluid {
    height: 600px;
    margin-top: 35px;
  }
}

@media screen and (max-width: 992px) {
  .Eight {
    display: none;
  }

  .container-fluid {
    height: 900px;
    margin-top: 35px;
  }
}

@media screen and (min-width: 770px) and (max-width: 800px) {
  #aboutText {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 800px) and (max-width: 1100px) {
  #aboutText {
    font-size: 0.875em;
  }
}